.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#gallery-meme {
  background-color: #e2edff;
}

@font-face {
  font-family: sofia;
  src: url(Fonts/Sofia-Regular.ttf);
}

h2 {
  font-family: sofia;
}

h1 {
  font-family: sofia;
}

section {
  padding-top: 5rem;
}
@font-face {
  font-family: dosis;
  src: url(Fonts/Dosis-VariableFont_wght.ttf);
}

p {
  font-family: dosis;
}

z {
  font-family: sofia;
}
